
@import "~bootstrap/dist/css/bootstrap.css";


a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

#page-wrap {
  width: 800px;
  margin: 0;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  box-shadow: 0 0 0 0 #888888;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.cover {
  padding: 0 1.5rem;
}

.btn-search{
  background-color: #d65e0b;
  border-radius: 0 8px 8px 0;
  width: 48px;
  color: white;
}
.btn.focus, .btn.active.focus, .btn.active.focus {
   outline: 0 none;
 }

.btn-toggle{
  background-color: #fff;
  border-radius: 0;
  color: #333;
  text-shadow: none;
  box-shadow: none;
  border-color: white;
}

.btn-toggle.active{
  background-color: #d65e0b;
  color: white;

  border-color: #d65e0b;
}

/*.form-control{
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius:  8px 0 0 8px;
  border-radius:  8px 0 0 8px;
}*/

.form-control{
  -moz-border-radius:  5px 0 0 5px;
  border-radius:  5px 0 0 5px;
}


.navbar{
  background-color: #252525;
  height: 70px;
}

h1{
  padding-bottom: 12px;
}


