



<div style="margin-top: 20vh"></div>




<h1 style="align-content: center" align="center">Gearscore</h1>
  <div style="width: 100%; align-items: center; margin: auto" class="container">
    <form class="form-inline">
    <input style="border-color: white; max-width: 300px" autofocus type="text" #name placeholder="Name..."
           class="form-control">
    <div class=" btn-group btn-group-toggle" #realmGroup data-toggle="buttons">
      <label class="btn  btn-toggle active">
        <input type="radio" ngModel="realm" name="realm" value="Feronis" autocomplete="off" checked> Feronis
      </label>
      <label class="btn  btn-toggle">
        <input type="radio" ngModel="realm" name="realm" value="Angrathar" autocomplete="off"> Angrathar </label>
    </div>
    <button (click)="onSearch(name.value,'Feronis')" class="btn btn-search">
      <span class="fa fa-search"></span></button></form>
  </div>





<div style="margin-top: 20vh"></div>




<h1 align="center">Players Online</h1>
<div style="min-height: 300px; padding-left: 10vw; padding-right: 10vw" [hidden]="!chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>

